.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-button {
  background-color: rgb(115, 115, 247);
  padding: 0.6rem;
  border: 6px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.auth-button:hover {
  background-color: rgb(98, 98, 239);
}

.message {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 1rem;
}

.sender {
  text-align: right;
  background-color: rgb(91, 91, 91);
}

.recevier {
  text-align: left;
  background-color: rgb(91, 91, 91);
}

.name {
  font-size: 1rem;
}
